.list{
    color: white;
    border: rgb(230, 179, 71) solid 4px;
    width: 20%;
    padding: 10px;
    text-align: center;
    margin: 10px 20px 10px 15px;
    background-color: rgb(42, 51, 179)
}

.article1, .article2, .article3{
display: flexbox;
justify-content: flex-start;
}

.article4, .article5, .article6{
justify-content: flex-end;
flex-direction: row-reverse;
align-items: stretch;
}

h1{
    color: palegreen;
    font-style: italic;
}
body{
    background-image: repeating-linear-gradient(to bottom, rgb(153, 196, 73), #73c8e2);
    background-attachment: fixed;
    background-position: center;
}